{% extends 'catalog/base.html' %}
{% block content %}
    {% include 'catalog/includes/inc_catalog.html' %}
    {% load my_tags %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-text">Статья: "{{ object.title }}"({{ object.slug }})</h5>
                        <p class="card-text">{{ object.body }}</p>
                    </div>
                    <div class="card-footer">Просмотры: {{ object.views_count }}</div>
                    {% if object.is_published %}
                        <a class="btn btn-warning" href=
                                "{% url 'blog:toggle_activity' object.slug %}">Деактивировать</a>
                    {% else %}
                        <a class="btn btn-success" href=
                                "{% url 'blog:toggle_activity' object.slug %}">Активировать</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-7">
                    <div class="card-body">
                        <p><img src="{% mediapath object.image %}" width="400"></p>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}