{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    {% include 'catalog/includes/inc_catalog.html' %}
    <div class="container">
        <div class="col-12 text-center mb-3">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                {% endif %}
                {% if page_obj.has_next %}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Далее</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
                <div class="col-4">
                    <div class="card mb-4 box-shadow" Style="border-color:#7777ff">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.name_category }}</h4>
                        </div>
                        <p><img src="{% mediapath object.image %}" width="200" height="200"></p>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>Описание: {{ object.description_category|truncatechars:100 }}</li>
                                <li>*******************************</li>
                                <li>Категория: {{ object.name_category }}</li>
                            </ul>
                            <a href="/all_products/{{ object.pk }}" type="button" class="btn btn-lg btn-block
                            btn-outline-primary">Все товары категории</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
