{% extends 'catalog/base.html' %}
{% block content %}
    {% include 'catalog/includes/inc_product.html' %}
    <div class="container">
        <form method="post" action="" class="row form-floating">
            <div class="row text-start">
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow" Style="border-color:#7777ff">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                {% if object %}
                                    Редактирование
                                {% else %}
                                    Создать продукт
                                {% endif %}
                            </h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Добавить
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-4 box-shadow" Style="border-color:#7777ff">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Версия</h4>
                        </div>
                        {{ formset.management_form }}

                        <div class="card-body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p }}
                                {% if forloop.revcounter0 != 0 %}
                                    <hr>
                                    {% if formset.non_form_errors %}
                                        <div class="text-center">
                                            <div class="text-primary-emphasis bg-warning border border-warning rounded-3">
                                                {% for error in formset.non_form_errors %}
                                                    <h6>{{ error }}</h6>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}